body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #481c95;
    color: white;
    text-align: center;
    padding: 10px;
}
.btn {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #174987;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #0f4386;
}
